# loops

In [ ]:
# for loop

In [ ]:
for a in range(1,6):
  print( a , "Hello world ")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [ ]:
for i in range(2,6,2):
  print(i)

2
4

In [ ]:
n=7
for i in range(1,11):
  print(n,"*",i,"=",n*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
n=input("enter the number")
n=int(n)
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the number11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [ ]:
# while loop

In [ ]:
n=0
while n<5:
  print(n)
  n=n+1

0
1
2
3
4

In [ ]:
n=1
a=4
while n<=10:
  print(a,"*",n,"=",n*a)
  n+=2

4 * 1 = 4
4 * 3 = 12
4 * 5 = 20
4 * 7 = 28
4 * 9 = 36

In [ ]:
# while true
# it is a infinite loop stop y break statement

In [ ]:
while True:
  print("hello ")

In [ ]:
while True:
  num1 =int(input("Enter a number 1 : "))
  num2 =int(input("Enter a number 2 : "))
  print("sum =",num1+num2 )
  repeat=input("Do you want to stop thr program ? (s/n): ")
  if repeat=="s":
    break

Enter a number 1 : 1
Enter a number 2 : 2
sum = 3
Do you want to stop thr program ? (s/n): s

In [ ]:
# nested loop
# a loop inside a loop

In [ ]:
for i in range (1,4):
  for j in range(1,11):
    print (j,end="")

  print("")

12345678910
12345678910
12345678910

In [ ]:
for i in range (1,6):
  for j in range (1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# for loop with conditional statement

In [ ]:
for i in range (1,11):
  if i==3:
    print("add this number in favs .")
  else :
    print(i)

1
2
add this number in favs .
4
5
6
7
8
9
10

In [ ]:
for i in range (1,100):
  if i%8==0 and i%12==0:
    print(i)

24
48
72
96

In [ ]:
n=1
while n<10:
  if n==3:
    print("add i it in favs")
  else:
    print(n)
  n+=1

1
2
add i it in favs
4
5
6
7
8
9

# Break and  Continue statement

In [ ]:
# continue statement
# is used when you what to skip a particular condition / iteration

In [ ]:
# break statement
# is used to stop the loop

In [ ]:
for i in range (1,11):
  if i ==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range (1,11):
  if i==5:
    break
  else:
    print(i)

1
2
3
4

# **Problem Solving**

**write a program to find a sum of all event numbers up to 50**

In [ ]:
sum =0
for i in range (1,51):
  if i%2==0:
    sum+=i
print(sum)

650

**write a program to write first numder and their squres number**

In [ ]:
for i in range (1,21):
  print(i,i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

**write a program to find sum of first 10 odd numbers using while loop**

In [ ]:
sum = 0
i=0
while i <=20:
  if i%2!=0:
    sum+=i
  i+=1
print(sum)

100

**write a program to check if a number is divisible by 8 and 12 to 100 numbers**

In [ ]:
for i in range (1,101):
  if i%8==0 and i%12==0:
    print(i)

24
48
72
96

**write a program to build a biling system at supermarket**

In [ ]:
while True :
  name=input("Enter costomer's name  :")
  total=0
  while True:
    print("Enter the amount and quantity ")
    amount=int(input("Enter the amount : "))
    quantity=int(input("Enter the quantity : "))
    total+=amount*quantity
    repeat=input("do you want to add more items? (yes/no):")
    if repeat=="no"or repeat =="NO":
      break
  print("-"*40)
  print("Name : ",name)
  print("Total : ",total)

  repeat=input("do you want to add more items? (yes/no):")
  if repeat=="no"or repeat =="NO":
    break

Enter costomer's name  :jon
Enter the amount and quantity
Enter the amount : 100
Enter the quantity : 2
do you want to add more items? (yes/no):yes
Enter the amount and quantity
Enter the amount : 50
Enter the quantity : 1
do you want to add more items? (yes/no):no
----------------------------------------
Name :  jon
Total :  250
do you want to add more items? (yes/no):yes
Enter costomer's name  :cherry
Enter the amount and quantity
Enter the amount : 200
Enter the quantity : 2
do you want to add more items? (yes/no):no
----------------------------------------
Name :  cherry
Total :  400
do you want to add more items? (yes/no):no

**"why fit in, When you are Born to Stand Out "** **a string problem**

**write a program to fnd the lenght of following string**

In [ ]:
a="why fit in, When you are Born to Stand Out "
b=len(a)
print("the lenght of given string ",b)

the lenght of given string  43

**write a program to check how many time alphabet o is occurring**

In [ ]:
print("the number of time o is occuring ",a.count("o"))

the number of time o is occuring  3

**write a program to convert the whole string into lower and uper case**

In [ ]:
X=a.lower()
print(X)
Y=a.upper()
print(Y)

why fit in, when you are born to stand out
WHY FIT IN, WHEN YOU ARE BORN TO STAND OUT

**write a program to convert the following string in to a title**

In [ ]:
Z=a.title()
print(Z)

Why Fit In, When You Are Born To Stand Out

**write a program to find the index number of " fit in "**

In [ ]:
print (a.find("fit in"))

4

**1**

---
**1 2**

---
**1 2 3**

---

**1 2 3 4**

---

**1 2 3 4 5**

---

**making this pattren using loop**

In [ ]:
for i in range (1,6):
  for j in range (1,i+1):
    print(j,end=" ")
  print( )

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**1**

---
**2 2**

---
**3 3 3**

---

**4 4 4 4**

---

**5 5 5 5 5**

---

**making this pattren using loop**

In [ ]:
for i in range (1,6):
  for j in range (1,i+1):
    print(i,end=" ")
  print( )

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range (1,6):
  for j in range (6,i,-1):
    print(i,end=" ")
  print( )

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range (1,6):
  for j in range (5,i,-1):
    print(" ",end=" ")
  for k in range (1,i+1):
    print("*",end=" ")
  print( )

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range (1,6):
  for j in range (i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for i in range (1,6):
  for j in range (1,i+1):
    print("*",end=" ")
  print()
for i in range (5,0,-1):
  for j in range (0,i-1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range (1,11):
  for j in range(1,i+1):
    print (i*j,end= " ")
  print("")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

**write a program to get a fibonacci series upto 10 numbers**

In [ ]:
# fibonacci seriesa
a=0
b=1
n=int(input("Enter a number : "))
if n==1:
  print(a)
else:
  for  i in range (2,n):
    c=a+b
    a=b
    b=c
    print(c)

Enter a number : 5
1
2
3

**write a program to check if a number is prime or not**

In [ ]:
# prime number
n=int(input("Enter a number : "))
if n>1:
  for i in range (2,n):
    if n%i==0:
      print("not prime")
      break
  else:
    print("prime")
else:
  print("not prime")

Enter a number : 1
not prime

**write a program to find a palindrome of integers**

In [ ]:
# palindrome 111 131
n=int(input("Enter a number : "))
temp=n
rev=0
while n>0:
  r=n%10
  rev=rev*10+r
  n=n//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

Enter a number : 131
palindrome

**write a program to create an area caculator**

In [7]:
print("******* AERA CALCULATOR ***********")
while True:
  print("press 1 for area of circle")
  print("press 2 for area of rectangle")
  print("press 3 for area of triangle")
  choice=int(input("enter your choice :"))
  if choice==1:
    radius=float(input("enter radius :"))
    area=3.14*radius*radius
    print("area of circle is : ",area)
    print("thank you for using area calculator")

  elif choice==2:
    length=float(input("enter length :"))
    breadth=float(input("enter breadth :"))
    area=length*breadth
    print("area of rectangle is : ",area)
    print("thank you for using area calculator")

  elif choice==3:
    base=float(input("enter base :"))
    height=float(input("enter height :"))
    area=0.5*base*height
    print("area of triangle is : ",area)
  else :
    print("invalid choice")
  choice=input("do you want to continue? (yes/no) :")
  if choice=="no":
    print("thank you for using area calculator")
    break

******* AERA CALCULATOR ***********
press 1 for area of circle
press 2 for area of rectangle
press 3 for area of triangle
enter your choice :1
enter radius :2
area of circle is :  12.56
thank you for using area calculator
do you want to continue? (yes/no) :yes
press 1 for area of circle
press 2 for area of rectangle
press 3 for area of triangle
enter your choice :3
enter base :4
enter height :2
area of triangle is :  4.0
do you want to continue? (yes/no) :yes
press 1 for area of circle
press 2 for area of rectangle
press 3 for area of triangle
enter your choice :2
enter length :1
enter breadth :23
area of rectangle is :  23.0
thank you for using area calculator
do you want to continue? (yes/no) :no

# String  manipulation

lenght, count, upper, lower, index, capitalize, casefold, find, format, center

In [ ]:
a="Harry Potter and the Goble of Fire"
print(a)

Harry Potter and the Goble of Fire

In [ ]:
# lenght
print(len(a)) # space also count

34

In [ ]:
# count find the number oftime os occuring
print(a.count('o'))
print(a.count("H"))

3
1

In [ ]:
# to convert each letter in uper case
print(a.upper())

HARRY POTTER AND THE GOBLE OF FIRE

In [ ]:
# to convert each letter in lower case
print(a.lower())

harry potter and the goble of fire

In [ ]:
# find the index of eany character
print(a.index("o"))
print(a.index("o",22,28))

7
22

In [ ]:
# to covert the first letter to capilta
print(a.capitalize())

Harry potter and the goble of fire

In [ ]:
# to convert a string in to lower case
print(a.casefold())

harry potter and the goble of fire

In [ ]:
# to find a character by index
print(a.find('o'))

7

In [ ]:
# to write a variable in a string
name="jon"
age ="20"
b="my name is {},and my age is {} "
print(b.format(name,age))

my name is jon,and my age is 20

In [ ]:
# it fills the given characters and centralizes a string
print(name.center(20,"*"))

********jon*********

In [ ]:
# isalnum() - Returns True if all characters in the string are alphanumeric (letters or numbers)
# isalpha() - Returns True if all characters in the string are alphabetic (only letters)
# isdecimal() - Returns True if all characters in the string are decimal numbers (0-9 only)
# isdigit() - Returns True if all characters in the string are digits (includes superscripts etc.)
# isnumeric() - Returns True if all characters are numeric (includes fractions, roman numerals, etc.)
# islower() - Returns True if all alphabetic characters in the string are lowercase
# isupper() - Returns True if all alphabetic characters in the string are uppercase
# isspace() - Returns True if all characters in the string are whitespace (space, tab, newline)
# istitle() - Returns True if the string is in title case (each word starts with a capital letter)

In [ ]:
s = "Python3"
print(s.isalnum())  # True

s2 = "Python 3"
print(s2.isalnum())  # False (space is not alphanumeric)

True
False

In [ ]:
s = "Python"
print(s.isalpha())  # True

s2 = "Python3"
print(s2.isalpha())  # False (contains a number)

True
False

In [ ]:
s = "12345"
print(s.isdecimal())  # True

s2 = "12.5"
print(s2.isdecimal())  # False (decimal point not allowed)

s3 = "²"  # superscript 2
print(s3.isdecimal())  # False

True
False
False

In [ ]:
s = "12345"
print(s.isdigit())  # True

s2 = "²"  # superscript 2
print(s2.isdigit())  # True

s3 = "12a"
print(s3.isdigit())  # False

True
True
False

In [ ]:
s = "123"
print(s.isnumeric())  # True

s2 = "½"  # one-half fraction
print(s2.isnumeric())  # True

s3 = "abc"
print(s3.isnumeric())  # False

True
True
False

In [ ]:
s = "hello"
print(s.islower())  # True

s2 = "Hello"
print(s2.islower())  # False

True
False

In [ ]:
s = "HELLO"
print(s.isupper())  # True

s2 = "Hello"
print(s2.isupper())  # False

True
False

In [ ]:
s = "   "
print(s.isspace())  # True

s2 = "  \n\t"
print(s2.isspace())  # True

s3 = " a "
print(s3.isspace())  # False

True
True
False

In [ ]:
s = "This Is A Title"
print(s.istitle())  # True

s2 = "this Is A title"
print(s2.istitle())  # False

True
False

In [ ]:
# endswith() - Returns True if the string ends with the specified substring
# startswith() - Returns True if the string starts with the specified substring
# swapcase() - Swaps the case of each character (lower -> upper, upper -> lower)
# strip() - Removes whitespace (or specified characters) from both ends of the string
# split() - Splits the string into a list using a separator (default is space)
# rjust() - Returns a right-justified version of the string, padded with spaces (or specified char)
# ljust() - Returns a left-justified version of the string, padded with spaces (or specified char)
# replace() - Replaces all occurrences of a substring with another substring
# rindex() - Returns the highest index of the specified substring (raises error if not found)
# rfind() - Returns the highest index of the specified substring (returns -1 if not found)

In [ ]:
# True example
s = "hello world"
print(s.endswith("world"))  # True

# False example
print(s.endswith("hello"))  # False

True
False

In [ ]:
# True example
s = "hello world"
print(s.startswith("hello"))  # True

# False example
print(s.startswith("world"))  # False

True
False

In [ ]:
# Example (no True/False, just output)
s = "HeLLo WoRLd"
print(s.swapcase())  # hEllO wOrlD

s2 = "python"
print(s2.swapcase())  # PYTHON

hEllO wOrlD
PYTHON

In [ ]:
# True example (comparing stripped string)
s = "   hello   "
print(s)
print(s.strip())
print(s.strip() == "hello")  # True

# False example
print(s.strip() == "   hello   ")  # False

   hello
hello
True
False

In [ ]:
# True example
s = "apple,banana,grape"
print(s.split(","))  # ['apple', 'banana', 'grape']
s = "apple#banana#grape"
print(s.split("#"))
# False example
print(s.split(",") == ["apple", "banana", "grape"])  # True

# False example
print(s.split(",") == ["apple banana grape"])  # False

['apple', 'banana', 'grape']
['apple', 'banana', 'grape']
False
False

In [ ]:
# True example
s = "42"
print( "the number is ", s.rjust(5) )  # True
print( "the number is ", s.rjust(5,"*") )  # True

the number is     42
the number is  ***42

In [ ]:
# True example
s = "42"
print(s.ljust(5) ,"is a number" ) # True

print(s.ljust(5,"*") ,"is a number" ) # True

42    is a number
42*** is a number

In [ ]:
# True example
s = "I like apples"
print(s.replace("apples", "bananas"))

print(s.replace("apples", "bananas") == "I like bananas")  # True

# False example
print(s.replace("apples", "bananas") == "I like apples")  # False

I like bananas
True
False

In [ ]:
s = "apple banana apple"
print(s.rindex("apple"))

13

In [ ]:
s = "apple banana apple"
print(s.rfind("apple") )

13
True

**string slicing**

In [ ]:
a="Harry Potter and the Goble of Fire"
print(a)

Harry Potter and the Goble of Fire

In [ ]:
# want to print only harry
print(a[0:5])
print(a[:5])
print(a[6:])

Harry
Harry
Potter and the Goble of Fire

In [ ]:
print(a[-3:])

ire

In [ ]:
b="0123456789"
print(b[::2])
print(b[:6:2])

02468
024

# **problems**

**"OOTD.YOLO.ASAP.BRB.GTG.OTW"**

In [8]:
a="OOTD.YOLO.ASAP.BRB.GTG.OTW"

**write a program to separat the following string into coma(,) separated values.**

In [9]:
b=a.split(".")
print(b)

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

**write a program to sort string alphabetically in python.**

In [13]:
b=sorted(a)
print(b)

['.', '.', '.', '.', '.', 'A', 'A', 'B', 'B', 'D', 'G', 'G', 'L', 'O', 'O', 'O', 'O', 'O', 'P', 'R', 'S', 'T', 'T', 'T', 'W', 'Y']

**write a program to remove a given character from a string.**

In [14]:
b="hello"
c=b.replace("l","")
print(c)

heo

**"F.R.I.E.N.D.S"**

**write a program to remove dot(.) from the following string.**

In [15]:
Z="F.R.I.E.N.D.S"
b=Z.replace(".","")
print(b)

FRIENDS

**write a program to check the number of occurrence of string in a string**

In [16]:
a="she sells sea shells by the sea shore"
b=a.count("sea")
print(b)

2

**take an input from a user as a string then, reverse it.**

In [20]:
a=input("Enter anything here: ")

b=a[::-1]
print(b)

Enter anything here: hello
 olleh

**write a program too check if a string contains only digits**

In [24]:
a=input("Enter anything here: ")
b=a.isdigit()
if b==True:
  print("contain only digit ")
else:
  print("not contain only digit")

Enter anything here: 12
contain only digit

**write  program to check if a string is palindrome.**

In [26]:
a=input("Enter anything here: ")
b=a[::-1]
if a==b:
  print("palindrome")
else:
  print("not palindrome")

Enter anything here: madam
palindrome

**write a program to find number of vowels in a string.**

In [29]:
a=input("Enter anything here: ")
count=0
for i in a:
  if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
    count=count+1
print("the number of vowels in the folowing string are ",count)

Enter anything here: hello
the number of vowels in the folowing string are  2

**write a program to check if every word in a string begins with a capital letter.**

In [31]:
a=input("Enter anything here: ")
b=a.istitle()
if b==True:
  print("every word in a string begins with a capital letter")
else:
  print("not every word in a string begins with a capital letter")

Enter anything here: herry potter
not every word in a string begins with a capital letter